---
name: test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.16.x]
        tf-version: [latest, 0.12.x]
        os: [macos-latest, ubuntu-latest]
        experimental: [false]
        include:
          - go-version: 1.16.x
            tf-version: latest
            os: windows-latest
            experimental: true
          - go-version: 1.16.x
            tf-version: 0.12.x
            os: windows-latest
            experimental: true

    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}

    steps:
      - name: setup go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: setup terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: ${{ matrix.tf-version }}

      - name: checkout
        uses: actions/checkout@v2

      - name: test
        run: make test
